<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001418467968-jl63ptnkpa5c4ip296o2jf56160f1ccc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001418467968-jl63ptnkpa5c4ip296o2jf56160f1ccc</string>
	<key>API_KEY</key>
	<string>AIzaSyAq6hJgdtje9V6d9ShUNBmcaVn5-qMMwh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1001418467968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyperactive.ChessFirebase</string>
	<key>PROJECT_ID</key>
	<string>chessfirebase-c8de9</string>
	<key>STORAGE_BUCKET</key>
	<string>chessfirebase-c8de9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001418467968:ios:9f4f2e9bf60803198c5465</string>
	<key>DATABASE_URL</key>
	<string>https://chessfirebase-c8de9.firebaseio.com</string>
</dict>
</plist>